target/
.idea/
*.class
work
*.iml
**/*.iml
.project
build/.project
cxplugin-agent/.classpath
cxplugin-agent/.project
cxplugin-agent/.settings/org.eclipse.jdt.core.prefs
cxplugin-agent/bin/.project
cxplugin-agent/bin/pom.xml
cxplugin-agent/bin/src/main/resources/com/checkmarx/teamcity/agent/resultsTemplate.html
cxplugin-agent/bin/src/main/resources/META-INF/build-agent-plugin-cxplugin.xml
cxplugin-agent/bin/teamcity-plugin.xml
cxplugin-common/.classpath
cxplugin-common/.project
cxplugin-common/.settings/org.eclipse.jdt.core.prefs
cxplugin-common/bin/.project
cxplugin-common/bin/pom.xml
cxplugin-server/.classpath
cxplugin-server/.project
cxplugin-server/.settings/org.eclipse.jdt.core.prefs
cxplugin-server/bin/.project
cxplugin-server/bin/pom.xml
cxplugin-server/bin/src/main/resources/buildServerResources/adminPage.jsp
cxplugin-server/bin/src/main/resources/buildServerResources/editRunParams.jsp
cxplugin-server/bin/src/main/resources/buildServerResources/reportTab.jsp
cxplugin-server/bin/src/main/resources/buildServerResources/ScanReport.css
cxplugin-server/bin/src/main/resources/buildServerResources/ScanReportLogo.jpg
cxplugin-server/bin/src/main/resources/buildServerResources/ScanReportSprite.png
cxplugin-server/bin/src/main/resources/META-INF/build-server-plugin-cxplugin.xml
cxplugin-server/bin/src/main/resources/buildServerResources/viewRunParams.jsp
cxplugin-server/bin/src/main/resources/buildServerResources/testConnection.js
